<!doctype html>
<html>
	<head>
		<title>@ViewBag.Title - jQuery Template .NET - Web Tests</title>
		<script src="js/jquery-1.6.1.js"></script>
		<script src="js/jquery.tmpl.js"></script>
	</head>

	<body>
		@RenderBody()
	</body>
</html>
